.footer {
  padding: 64px 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    p {
      color: white;
      font-variant-numeric: lining-nums proportional-nums;

      font-family: Raleway;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
    }
  }

  &__right {
    display: flex;
    column-gap: 32px;

    a {
      color: $gray-text;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;

      font-family: Raleway;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;

      &:hover {
        color: $yellow-100;
      }

      &:active {
        color: $yellow-200;
      }
    }
  }

  @media (max-width: $tablet) {
    padding: 32px 0;

    .container {
      padding: 0 32px;
    }

    &__content {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 32px;
    }

    &__left {
      p {
        color: $gray-text;
      }
    }
    &__right {
      flex-direction: column;
      row-gap: 24px;
    }
  }

  @media (max-width: $mobile) {
    padding: 16px 0;

    .container {
      padding: 0 16px;
    }

    &__left {
      p {
        color: white;
      }
    }
  }
}
