.formats {
  margin-top: -120px;
  padding: 120px 0;
  border-radius: 120px 120px 0px 0px;
  background: $purple;

  &__title {
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
    text-align: center;

    &::before {
      content: url("../images/formats/band.svg");
      position: absolute;
      bottom: -105px;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__cards {
    display: flex;
    position: relative;
    z-index: 2;
  }

  &-card {
    border-radius: 32px;
    border: 2px solid $black;
    padding-bottom: 32px;
    overflow: hidden;
    flex: 1;

    &__img {
      object-fit: contain;
    }

    .img-wrapper {
      border-radius: 32px;
      overflow: hidden;
      height: 220px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border: 1px solid $black;
      background: #f2f2f2;
      margin: -1px -1px 0 -1px;
    }

    &__title {
      padding: 32px 32px 24px;
      color: white;
      text-align: center;

      font-family: Unbounded;
      font-size: 28px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.28px;
    }

    &__desc {
      padding: 0 32px;
      color: white;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;

      font-family: Raleway;
      font-size: 18px;
      font-weight: 600;
      line-height: 130%;
    }

    &:nth-child(2) {
      position: relative;
      margin: 0 -1px;

      .formats-card__img {
        height: 100%;
        width: auto;
      }
    }
  }

  @media (max-width: $tablet) {
    margin-top: -60px;
    padding: 60px 0;
    border-radius: 60px 60px 0 0;

    &__title {
      margin-bottom: 40px;

      &::before {
        bottom: -140px;
      }
    }

    &-card {
      &:nth-child(2) {
        margin: -1px 0;
      }
    }

    &__cards {
      flex-direction: column;
    }
  }

  @media (max-width: $mobile) {
    margin-top: -40px;
    padding: 40px 0;
    border-radius: 40px 40px 0 0;

    &__title {
      margin-bottom: 24px;

      &::before {
        bottom: -150px;
      }
    }

    &-card {
      padding-bottom: 16px;

      .img-wrapper {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $black;
        margin: 0;
      }

      &__title {
        padding: 16px 16px 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.2px;
      }

      &__desc {
        padding: 0 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
      }

      &:nth-child(2) {
        .formats-card__img {
          height: unset;
          width: unset;
        }
      }
    }
  }
}
