.guide {
  margin-bottom: 120px;

  &__title {
    margin-bottom: 60px;
    text-align: center;
  }

  &__cards {
    display: flex;
    column-gap: 20px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid $black;
  }

  &-card {
    border-radius: 32px;
    border: 2px dashed $yellow-100;
    padding: 30px;
    flex: 1;
    height: 232px;

    &__title {
      color: $yellow-100;
      text-align: center;
      font-family: Unbounded;
      font-size: 76px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0.76px;
      margin-bottom: 12px;
    }

    p {
      color: white;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;

      font-family: Raleway;
      font-size: 18px;
      font-weight: 600;
      line-height: 130%;
    }

    &:nth-child(3) {
      margin-top: 20px;
    }
    &:nth-child(5) {
      margin-top: 40px;
    }
  }

  &__desc {
    color: $yellow-100;
    text-align: center;

    font-family: Unbounded;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.24px;
    margin-bottom: 60px;
  }

  &__btn {
    width: fit-content;
    margin: 0 auto;
  }
}
