$black: #101010;
$gray-text: rgba(255, 255, 255, 0.6);

$purple: #6f4cce;

$yellow-100: #e8f507;
$yellow-200: #d0db06;

$header-height-lg: 101px;
$header-height-md: 72px;
$header-height-sm: 50px;

$tablet: 1250px;
$mobile: 767px;

$container: 1200px;
$container-wide: 1320px;
$container-thin: 1000px;
